<%= form_for @profile, :html => { :class => "form-horizontal container" }, :url => url, method: method do |f| %>
<% if flash[:message] %>
<h5 class="heading"><div class="notice"><%= flash[:message] %></div></h5>
<% end %>

<% if @profile.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-body">
    <ul>
      <% @profile.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="form-group">
  <%= f.label :name %>
  <div class="input-field col s6">
    <%= f.text_field :name, :class => 'materialize-textarea validate'%>
  </div>

  <%= f.label :cpu_limit %>
  <div class="input-field col s6">
    <%= f.text_field :cpu_limit, :class => 'materialize-textarea validate'%>
  </div>

  <%= f.label :memory_limit %>
  <div class="input-field col s6">
    <%= f.text_field :memory_limit, :class => 'materialize-textarea validate', placeholder: 'should have suffix one of kB, MB, GB - OR it will be taken as %'%>
  </div>

  <%= f.label :ssh_authorized_keys %>
  <div class="input-field col s6">
    <%= f.text_area :ssh_authorized_keys, :class => 'materialize-textarea form-control' , placeholder: 'If left empty it there will be no ssh keys' %>
  </div>
  <%= f.submit submit_tag_name, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
  profiles_path, :class => 'btn btn-default' %>

</div>

<% end %>
