<%- model_class = Profile -%>
<%= stylesheet_link_tag 'container_host'%>
<div class="page-header">
  <h3 class="heading">Profile</h3>
</div>

<div class="container-fluid">
  <div class= "card show-card">
    <strong><%= model_class.human_attribute_name(:name) %>:</strong>
    <strong><%= @profile.name %></strong><br><br>
    <strong><%= model_class.human_attribute_name(:cpu_limit) %>:</strong>
    <strong><%= @profile.cpu_limit %></strong><br><br>
    <strong><%= model_class.human_attribute_name(:memory_limit) %>:</strong>
    <strong><%= @profile.memory_limit %></strong><br><br>
    <strong><%= model_class.human_attribute_name(:ssh_authorized_keys) %>:</strong>
    <% if @profile.ssh_authorized_keys.present? %>
      <% @profile.ssh_authorized_keys.split(',').each do |key| %>
        <%= key %>
      <% end %>
    <% end %><br><br>
    <td>
      <%= link_to t('.edit'), profile_edit_path(:name => @profile.name), :class => 'btn btn-primary btn-sm' %>
    </td>
  </div>
</div>
