<%= stylesheet_link_tag 'container_host'%>
<%- model_class = ContainerHost -%>
<div class="page-header">
  <h3 class="heading">Containers</h3>
</div>

<div class="container-fluid">
  <div class= "card">
    <table class="table highlight responsive-table striped centered">
      <thead class="thead-dark">
        <tr>
          <th><%= model_class.human_attribute_name(:hostname) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @containers.each do |container| %>
          <tr>
            <td><%= container.container_hostname %></td>
            <td>
            <%= link_to t('.show', :default => t("helpers.links.show")),
              container_path(:container_hostname => container.container_hostname), :class => 'btn waves-effect waves-light' %>
            <%= link_to t('.delete', :default => t("helpers.links.delete")),
              container_delete_path(:container_hostname => container.container_hostname), method: :delete, :class => 'btn waves-effect waves-light red' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
