<%- model_class = KeyPair -%>
<%= stylesheet_link_tag 'container_host'%>
<div class="row page-header">
  <div class="col s6">
    <h3 class="heading">Key Pairs</h3>
  </div>
  <div class="col s6">
    <a  onclick="location.href = '/key_pairs/new' " class="btn-floating btn-large waves-effect waves-light right-button"><i class="material-icons">add</i></a>
  </div>
</div>


<div class="container-fluid">
  <div class= "card">
    <table class="table highlight responsive-table striped centered">
      <thead class="thead-dark">
        <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:fingerprint) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @key_pairs.each do |key_pair| %>
          <tr>
            <td><%= key_pair.name %></td>
            <td><%= key_pair.fingerprint %></td>
            <td>
              <%= link_to t('.show', :default => t("helpers.links.show")), key_pair_path(key_pair), :class => 'btn btn-primary btn-sm' %>
              <%= link_to t('.delete', :default => t("helpers.links.delete")), key_pair_path(key_pair), method: :delete, :class => 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
