<!DOCTYPE html>
<html>
  <head>
    <title>Sauron</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'navbar' %>
  </head>

  <body>

  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Sauron</a>
      <a href="/" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to t('.profiles'), profiles_path() %></li>
        <li><%= link_to t('.key-pairs', :default => t("helpers.links.key-pairs")), key_pairs_path() %></li>
        <li><%= link_to t('.new-container', :default => t("helpers.links.launch-new-container")), containers_new_path() %></li>
        <li><%= link_to t('.Sign-Out', :default => t("helpers.links.sign-out")),
                          destroy_user_session_path(), method: :delete %></li>
      </ul>
    </div>
  </nav>
  <ul id="mobile" class="sidenav">
    <li><%= link_to t('.profiles'), profiles_path() %></li>
    <li><%= link_to t('.key-pairs', :default => t("helpers.links.key-pairs")), key_pairs_path() %></li>
    <li><%= link_to t('.new-container', :default => t("helpers.links.launch-new-container")), containers_new_path() %></li>
    <li><%= link_to t('.Sign-Out', :default => t("helpers.links.sign-out")),
                          destroy_user_session_path(), method: :delete %></li>
  </ul>
  <div class="container-fluid main">
    <%= yield %>
  </div>
  </body>
</html>
